.imgbtn {
  background-color: #636363;
  color: #fdfdfd;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload .filebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.donateButton {
  border: none;
  background-color: rgba(238,117,0,0.0);
  color: black;
}

.donateButtonRow {
  margin-bottom: 20px;
}

.uploadForm {
  border-bottom: solid black 1px;
}
